* {
   
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

/* Title*/

.Main {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings {
    font-family: 'Times New Roman', Times, serif;
    background-color: grey;
    font-size: 3rem;
    text-align: center;
    margin: 60px 0px;
    padding: 40px 40px;
}
/* NAVBAR */
.navbar{
    display: flex;
    justify-content:center; 
    align-items: center;
    background-color: rgba(0,0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{ 
    display: flex;
    list-style:none;
    margin:40px 10px;

}
.navbar ul li{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;

}
.navbar ul li a{
    text-decoration: none;
    color:whitesmoke;
    padding: 8px 25px ;
    transition: all .5s ease;

}
.navbar ul li a:hover{
    background-color: grey;
    color: black;
    box-shadow: 0 0 10px whitesmoke; 
}